.person {
    display: flex;
}

.person img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.person h3 {
    color: #637F99;
}

.person .right {
    flex-grow: 1;
}

.person button {
    float: right;
    color: red;
    background: white;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin-top: 25px;
}

.person button:hover {
    cursor: pointer;
}
