body {
  background: #F28AB2;
}

#container {
  padding: 50px;
  background: white;
  width: 500px;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0 0 6px black;

}

h1 {
  color: #102A42;
}

#mainbtn {
  color : white;
  background: #F28AB2;
  width: 100%;
  height: 80px;
  margin-top: 30px;
  border-radius: 20px;
  font-size: 40px;
}